* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: roboto;
}

body {
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.form {
  width: 50%;
  position: relative;
  height: 50px;
}

.form input {
  width: 100%;
  height: 100%;
  color: #595f6e;
  padding-top: 20px;
  border: none;
}

.form label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid teal;
  pointer-events: none;
}

.form label::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid teal;
  left: 0;
  bottom: -1;
  transform: translateX(-100%);
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: all .3 ease;
}

.form input:focus + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 14px;
  
}